/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('./assets/styles/fonts.scss');

body {
    margin: 0;
}

.red {
    color: red;
    text-transform: uppercase;
}

.yellow {
    color: yellow;
}